pydantic == 2.10.3
polygon-api-client == 1.14.4
bittensor == 9.7.0
scikit-learn == 1.5.0
scipy == 1.13.0
pandas == 2.2.2
flask == 3.0.3
waitress == 2.1.2
matplotlib == 3.9.0
sortedcontainers == 2.4.0
pandas-market-calendars == 4.4.0
google-cloud-storage == 2.17.0
tiingo == 0.15.6
requests==2.32.3
setproctitle==1.3.4
holidays == 0.67
Flask-Compress == 1.17
google-cloud-secret-manager==2.21.1
collateral-sdk @ git+https://github.com/taoshidev/collateral_sdk.git@1.0.4
ptn-cli @ git+https://github.com/taoshidev/ptncli.git@1.0.3

