pydantic<2.0
bittensor == 6.9.3
polygon-api-client
torch
tensorflow
scikit-learn
scipy == 1.12.0
pandas
twelvedata
flask
waitress == 2.1.2
matplotlib
sortedcontainers
pandas-market-calendars
google-cloud-storage
neuralforecast
numpy

